@import "_variables.scss";

.l-cicis-features {
  margin-top: 16%;
  height: 50em;
}

.l-cicis-features__title {
  margin-bottom: 1%;
  margin-left: 10%;
}

.l-cicis-features__sub-title {
  margin-left: 11%;
  font-weight: 100;
}
