


// .l-tickets-features--mobile {
//   height: 45em;
//    margin-bottom: 5%;
// }
//
// .l-tickets-features__icon--mobile {
//   margin: 0;
//   padding-left: 8%;
//     padding-top: 8%;
// }
//
// .l-tickets-features__figure--mobile  {
//   // margin: 0;
//   position: relative;
//   top: -4em;
// }
//
// .l-tickets-features__content--mobile {
//   padding-top: 6%;
// }
//
// .l-tickets-figure__image--mobile {
//   width: 64%;
// }

.l-tickets-features__figure--mobile {
  text-align: center;
  margin-top: 5%;
  display: none;
}

.l-tickets-figure__image--mobile {

}

.l-tickets-features__content--mobile {
      text-align: center;
      display: none;
}

.l-feature__title--mobile {
      text-align: center;
      display: none;
}

.l-feature__content--mobile {
  width: 75%;
    text-align: center;
    margin-left: 10%;
    display: none;
}


.l-finance-features__figure--mobile {
  text-align: center;
  margin-top: 5%;
  display: none;
}

.l-finance-features__content--mobile {
  text-align: center;
  display: none;
}
