


.l-tickets-features {
  height: 45em;
   margin-bottom: 5%;
}

.l-tickets-features__icon {
  margin: 0;
  padding-left: 8%;
    padding-top: 8%;
}

.l-tickets-features__figure  {
  // margin: 0;
  position: relative;
  top: -4em;
}

.l-tickets-features__content {
  padding-top: 6%;
}

.l-tickets-figure__image {
  width: 64%;
}
