
// font colour
$primary-colour--light:  #446493;
$primary-colour:         #273569;
$secondry-colour--light: #7f94b1;
$secondry-colour--beta:  #b9c6d6;
$defualt-colour:          white;

// background colours
$primary-bg-colour: white;
$secondry-bg-colour: #f6fafb;
$hero-bg-colour: #30acea;
$footer-colour: #273569;
$testimonail-bg-colour: #fdfdfd;

// button colours
$btn-primary-colour: #30acea;
$btn-colour--light: #fff;
$btn-hover-colour: #2EE59D;

// font family
$font-family: 'TruenoRegular';
// $font-family: 'arial'
